/* css reset  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* my css start here */

@font-face {
  font-family: "Roboto", sans-serif !important;
  src: url(../bootstrap/fonts/roboto/Roboto-Medium.ttf);
}

a.nav-link {
  transition: all 0.2s ease-in-out !important;
}

a.nav-link:hover {
  transform: scale(1.1);
}

input.btn {
  transition: all 0.2s ease-in-out !important;
}

input.btn:hover {
  transform: scale(1.1);
}

button {
  transition: all 0.2s ease-in-out !important;
}

button:hover {
  transform: scale(1.1);
}

.alert {
  margin-top: 15px !important;
}

.centerBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

nav {
  margin-bottom: 100px;
}

.logoutButt:hover {
  color: black;
}
.logoutButt {
  color: white;
  font-weight: 900;
  text-decoration: none;
}

/* nav a:hover {
  color: white !important;
}

nav a {
  color: black !important;
} */

.blackme {
  color: white;
}
.hide {
  display: none;
}

a .kanan {
  margin-right: 15px;
}

.nominal {
  font-weight: 900 !important;
  font-size: 1.5em;
  margin-left: 15px;
}

.no-show {
  display: none !important;
}
/* .navbar-header{
    background-color: #2A388A;
    color: white !important;
} */

.dash-menu {
  padding: 2em;
  transition: all 0.2s ease-in-out !important;
  margin: 0 0.5em;
  background-color: #f7f7f7 !important;
  border-radius: 5% !important;
}

a > .card > .card-body {
  text-decoration: none !important;
}

a .no-link .card-body {
  text-decoration: none !important;
  text-transform: uppercase !important;
  color: black !important;
  text-decoration: underline !important;
}

.dash-menu:hover {
  transform: scale(1.1);
  background-color: #ffcd05 !important;
  color: white !important;
}

.bg-bp {
  background-color: #2a388a;
}
